apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-conf
data:
  configuration: |
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
---
apiVersion: v1
kind : Pod
metadata:
  name: metrics
spec:
  containers:
    - name: web
      image: docker.io/grafana/grafana:12.4.0-20629732093
      ports:
        - containerPort: 3000
          hostPort: 3000
          protocol: tcp
      volumeMounts:
        - name: grafana-data
          mountPath: /var/lib/grafana:Z

    - name: db
      image: docker.io/prom/prometheus:v3.8.1
      ports:
        - containerPort: 9090
          hostPort: 9090
          protocol: tcp
      volumeMounts:
        - name: prometheus-config
          mountPath: /etc/prometheus/prometheus.yml
          subPath: configuration
        - name: prometheus-data
          mountPath: /prometheus:Z

  volumes:
    - name: grafana-data
      hostPath:
        path: ${HOST_PATH}/grafana

    - name: prometheus-config
      configMap:
        name: prometheus-conf

    - name: prometheus-data
      hostPath:
        path: ${HOST_PATH}/prometheus
